[Desktop Entry]
Version=0.9.4
Encoding=UTF-8
Exec=distccmon-gnome
Name=distcc monitor
GenericName=Distributed Compile Monitor
Comment=Graphical view of distributed compile tasks
Icon=distccmon-gnome-icon.png
TryExec=distccmon-gnome
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true
