BODY {
  font-family: verdana, arial, helvetica, "Lucida Sans", sans-serif;
  color: black;
  background-color: white;
  margin: 1em;
  padding: 0;
  font-size: 12pt;
}
TT {
  font-family: monospace;
  color: #002200;
}
.bold {
  font-weight: bold;
}
a {
  color: #003300;
}
a:hover {
  color: #336633;
}
div.caption { 
  font-size: 80%;
  text-align: center;
}
div.navbar {
  background-color: #ffffee;
  padding: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: #888;
  font-size: smaller;
}
.navbar UL {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  line-height: 1.3;
}
.navbar UL LI {
  padding-left: 0;
  margin-left: 0;
}
.navbar UL UL {
  font-weight: normal;
  padding-left: 10px;
  margin-left: 0;
}
.body {
  line-height: 1.3;
  padding: 1em;
}
.navbar A {
  color: #030;
  text-decoration: none;
}
.title {
  font-weight: bold;
  color: #003300;
  vertical-align: bottom;
}
.banner {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
UL {
  list-style-type: square
}
blockquote.quoted {
  color: #222;
}
BLOCKQUOTE {
  margin-left: 4em;
}
DIV.thanks {
  font-size: small;
  color: #222;
}