language: c

cache: ccache

addons:
  apt:
    packages:
      - python3-dev
      - libiberty-dev
      - clang
      - libavahi-client-dev 

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update && brew bundle; fi

script:
  - ./autogen.sh
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./configure; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ./configure --without-libiberty; fi
  - make
  - make check

matrix:
  include:
  - os: linux
    compiler: gcc
    dist: trusty
  - os: linux
    compiler: clang
    dist: trusty
  - os: osx
    osx_image: xcode8.2
    env:
      - MATRIX_EVAL="CC=gcc-4.9 && CXX=g++-4.9"
  - os: osx
    osx_image: xcode8.2
    compiler: clang
  - os: osx
    osx_image: xcode8.3
    compiler: clang
  - os: osx
    osx_image: xcode9
    compiler: clang
