[Desktop Entry]
Version=1.0
Exec=distccmon-gnome
Name=distcc monitor
Name[sv]=distcc övervakare
GenericName=Distributed Compile Monitor
GenericName[sv]=Distribuerad kompilerings-övervakare
Comment=Graphical view of distributed compile tasks
Comment[sv]=Grafisk vy av distribuerade kompileringsuppgifter
Icon=distccmon-gnome
TryExec=distccmon-gnome
Terminal=false
Type=Application
Categories=GNOME;GTK;Development;
StartupNotify=true
